body,
#calculator,
.row,
#buttons {
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  justify-content: space-evenly;
}

#calculator {
  flex-direction: column;
  height: 70vh;
  width: 45vh;
  border: black;
  border-style: solid;
}

#screen {
  height: 15vh;
  border: navy;
  border-style: solid;
}

#buttons {
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  border: cadetblue;
  border-style: solid;
}

button {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
