body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.row {
  display: flex;
}

#calculator {
  height: 70vh;
  width: 45vh;
  border: black;
  border-style: solid;
}
